﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Poliquin Interview</title>
</head>
<body>
    @Html.ActionLink("Index", "Index", "Interview") |
    @Html.ActionLink("Select a State", "SelectState", "Interview")

    <div>
        @RenderBody()
    </div>
</body>
</html>